list{
    list-style: upper-roman;
}
section{
    width: 20%;
    padding: 2%;
    background-color: lightcyan;
    border: lightblue solid 3px;
    margin: 1%;
}
section h2{
    font-family: Arial;
    font-size: 16px;
}
body{
    background-color: lightcyan;

}